{% extends "@Framework/Base.twig" %}

{% set systemModuleActive = {'activity': true} %}

{% block cssResources %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/libs/daterangepicker.min.css') }}" type="text/css"/>
{% endblock %}

{% block jsResources %}
    <script type="text/javascript">
        Twig.addTemplate('activityElement', {{ stringifyTwig('/Activity/Template/ActivityElement.twig', 'SystemModule')|raw }});
    </script>
    <script src="{{ asset('js/libs/moment.min.js') }}"></script>
    <script src="{{ asset('js/jquery/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('js/fwk/fwk.jquery.pager.min.js') }}"></script>
    <script src="{{ asset('js/activity.js') }}"></script>

    <script type="text/javascript">
        var dateFrom = {{ dateBetween.from|json_encode|raw }};
        var dateTo = {{ dateBetween.to|json_encode|raw }};
    </script>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <h1 class="pull-left">{{ "Activity"|trans }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="clearfix">
                    <form action="" method="post">
                        <div id="reportrange" class="pull-right daterange-filter" style="height:34px;">
                            <i class="icon-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                        <div class="input-group pull-right" style="width: 300px; margin-right: 10px;">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                            <input type="text" placeholder="Search a user..." id="search-username" name="search"
                                   class="form-control" {% if search %}value="{{ search }}"{% endif %}/>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                            <th><span>{{ "Type"|trans }}</span></th>
                            <th><span>Id</span></th>
                            <th><span>{{ "User"|trans }}</span></th>
                            <th><span>{{ "Module"|trans }}</span></th>
                            <th><span>{{ "Controller"|trans }}</span></th>
                            <th><span>{{ "Action"|trans }}</span></th>
                            <th><span>{{ "Date"|trans }}</span></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody id="list-activities">
                        {% for element in activities %}
                            {% include('@SystemModule/Activity/Template/ActivityElement.twig') %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button data-add-more="activities" data-target="#list-activities" data-src="system_activity_default"
                        class="btn btn-default btn-large" style="width: 100%;"><i class="fa fa-plus-square"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    $("[data-add-more='activities']").pager({
        template: Twig.templates.activityElement,
        page: 2,
        extraParams: {
        jsonResponse: true,
            {% if dateBetween %}
                dateBetween: {
                from: dateFrom,
                to: dateTo
                },
            {% endif %}
            {% if search %}
                search: '{{ search }}',
            {% endif %}
        },
        callback: function() {
            bindParamsList();
        }
    });
{% endblock %}
