{% extends "@Framework/Base.twig" %}

{% set systemModuleActive = {'users': true} %}
    
{% block jsResources %}
    <script type="text/javascript">
        Twig.addTemplate('userList', {{ stringifyTwig('/User/Template/UserList.twig', 'SystemModule')|raw }});
    </script>
    <script src="{{ asset('js/fwk/fwk.jquery.pager.min.js') }}"></script>
    <script src="{{ asset('js/users_list.js') }}" async></script>
{% endblock %}

{% block cssResources %}
    {{ parent() }}
    <style type="text/css">
        .onoffswitch-inner:before {
            content: "{{"YES"|trans}}";
        }
        .onoffswitch-inner:after {
            content: "{{"NO"|trans}}";
        }
    </style>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <h1 class="pull-left">{{"Users"|trans}}</h1>

        <div class="pull-right top-page-ui">
            <a href="/system/register" class="btn btn-primary pull-right">
                <i class="fa fa-plus-circle fa-lg"></i> {{"Add User"|trans}}
            </a>
        </div>
        <div class="pull-right top-page-ui form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <form role="search" action="/system/user/list" method="get">
                    <input id="search-user" name="search" value="{{ search }}" type="text" class="form-control" placeholder="Search Username or Email" onclick="this.select()" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>{{"User"|trans}}</span></th>
                                <th><span>{{"Created"|trans}}</span></th>
                                <th><span>{{"Email"|trans}}</span></th>
                                <th><span>{{"Enabled"|trans}}</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-users-list>
                            {% for element in users if (element.user_id != 1 or element.user_id == userLogged.id)  %}
                                {% include('@SystemModule/User/Template/UserList.twig') %}
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <button data-add-more="users" class="btn btn-default btn-large" data-target="table.table [data-users-list]" data-src="system_user_list" style="width: 100%;"><i class="fa fa-plus-square"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}